@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";
html {
    scroll-behavior: smooth;
  }
  
.catamaran{
    font-family: Catamaran;
}
.bebas{
    font-family: Bebas Neue;
}
.text-yellow{
    color: #C8AB37;
}
.footer-bg{
    background-color: #E1C16E	;
}

@media (max-width: 1280px) {
    .logotype {
      display: none; /* Se oculta en pantallas de 1024px o menos */
    }
}